.ResRobot {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.ResRobot table {
    width: 400px;
}

.departuretime {
    width: 25%;
    align: left;
    padding-right: 20px;
}

.departuretype {
    width: 20%;
    align: right;
    padding-right: 20px;
}

.lineno {
    width: 20%;
    align: right;
    padding-right: 10px;
}

.trackno {
    width: 20%;
    align: right;
    padding-right: 10px;
}

.destination {
    align: left;
}
